{% load static %}
<!doctype html>
<html lang="en">
<head>
 {% block title %}
  <title>Amibit</title>
 {% endblock %}

<!-- for collapse to work -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %} ">
<link rel="stylesheet" href="{% static 'css/main.min.css' %} ">
<link rel="stylesheet" href="{% static 'css/index.css' %} ">
<link rel="stylesheet" href="{% static 'css/buttons.css' %} ">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
</head>

<body>
{% block navigation %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#amibit-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{}"><img style="	width: 40px;" src="{% static "pics//amibitlogo2.png" %}" alt="Amibit">Amibit</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'index' %}"><img style="	width: 40px;" src="{% static "pics//amibitlogo2.png" %}" alt="Amibit">Amibit</a>
      {% endif %}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="amibit-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{">How to use?</a></li>
      </ul>
      <!-- Search-->
<!--
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-white-blue">Submit</button>
      </form>
-->
      <!-- Search-->
      <ul class="nav navbar-nav navbar-right">
       {% if user.is_authenticated %}
         <li><a href="https://www.facebook.com/" target="_self"><img style="width: 30px;" src="{% static "pics/social_media/facebook.png" %}" alt="FB"/></a> </li>
         <li><a href="https://www.gmail.com/" target="_self"><img style="width: 30px;" src="{% static "pics/social_media/gmail.png" %}" alt="G"/></a> </li>
         <li><a href="https://www.youtube.com/" target="_self"><img style="width: 30px;" src="{% static "pics/social_media/youtube.png"  %}" alt="L"/></a> </li>
         <li><a href="https://www.linkedin.com/" target="_self"><img style="width: 30px;" src="{% static "pics/social_media/linkedin.png"  %}" alt="L"/></a> </li>
         <li><a href="{}">Welcome <b>{{ user.username }}</b></a></li>
         <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i>  Log in</b></a></li>
          <li><a href="{}"><i class="fas fa-user-plus"></i>    Register</b></a></li>
        {% endif %}
   <!-- DROPDOwN-->
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><!-- ICON OR TXT--><span class="glyphicon glyphicon-list"><!-- ICON OR TXT--></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="{}"><i class="fas fa-cog"></i> Settings</a></li>
              <li role="separator" class="divider"></li>
            {% endif %}

              <li><a href="{% url 'contact' %}"><i class="fas fa-info"> </i>  Contact</a></li>
              <li role="separator" class="divider"></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            {% else %}
              <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log in</a><li>
              <li role="separator" class="divider"></li>
              <li><a href=""><i class="fas fa-user-plus"></i> Register</a><li>
            {% endif %}
          </ul>
        </li>
 <!-- DROPDOwN-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
